.logo{
    display: flex;
}
.description{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn{
    color:lightblue;
    text-decoration: underline;
  
}

.banner{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.nav-item{
    border: solid 1px;
    border-color: black;
    
    
    
}
 .nav-item:hover{
    background-color: darkgray;
    
 } 
.nav-link{
    color:black;
}
.nav-link:hover{
    color:black;
}
.dropdown-menu{
        width: 100%;
        text-align: center;  
        
}

.dropdown-item:hover{
    background-color: darkgray;
    
}
.body {
    margin: 0em;
    width: auto;
}

iframe {
    border: 1px solid black;
    width:100%;
    
}

.output {
    background: #eee;
}
.footer{
  /*  border-top:solid 1px;
*/  

}
.link{
    color: lightblue;
    text-decoration:underline;
    padding-right:20px;
}
.link:last-child{
    border-left: solid lightblue 1px;
    padding-left:20px;
}
.nav-link:onClick{
    display: block;

}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    color:rgb(0, 139, 253);
  }
  table{
    width:100%;
  }
  th{
      background-color:lightgray;
      width:30%;
  }
  .names{
    list-style-type: none;
    padding-top: 20px;
    
  }
  .names li{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 20px;
    padding: 20px;
    align-items: center;
    color:rgb(0, 130, 247);
   height:70px;
  }
  .names li img{
      width: 100px;
      height:150px;
  }
 
 